@import "material-color";


$openSans: 'Open Sans', sans-serif;
$alef: 'Alef', sans-serif;
$roboto : 'Roboto', sans-serif;


body{
 	font-size: 14px;
 	font-family: $roboto;
 }
/* -=-=-=-= Barra de busca =-=-=-=- */
.cf{
   zoom:1;

   &:before, &:after{
      content:"";
      display:table;
   }

   &:after{
      clear:both;
   }
}   


/* Form wrapper styling */
.form-wrapper {
   margin-top: 15px;
   padding: 10px;
   background: #444;
   background: rgba(0,0,0,.2);
   border-radius: 10px;
   box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
   padding: 6px 10px;
   float: left;    
   font-size: 1.6rem;
   border: 0;
   background: #eee;
   border-radius: 3px 0 0 3px;  
   height: 35px!important;    
}

.form-wrapper input:focus {
   outline: 0;
   background: #fff;
   box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-moz-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}    

/* Form submit button */
.form-wrapper button {
   border: 0;
   padding: 0;
   cursor: pointer;
   height: 35px!important;
   font-size: 2rem;
   color: #fff;
   background: #d83c3c;
   border-radius: 0 3px 3px 0;
}   
 
.form-wrapper button:hover{   
   background: #e54040;
} 
 
.form-wrapper button:active,
.form-wrapper button:focus{   
   background: #c42f2f;
 outline: 0;   
}

.form-wrapper button:before { /* left arrow */
   content: '';
   position: absolute;
   border-width: 8px 8px 8px 0;
   border-style: solid solid solid none;
   border-color: transparent #d83c3c transparent;
   top: 10px;
   left: -7px;
}

.form-wrapper button:hover:before{
   border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
       border-right-color: #c42f2f;
}      

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
   border: 0;
   padding: 0;
} 

/* -=-=-=-= Nav Bar =-=-=-=-=- */
header {
	background-color: $clr-blue-grey-800;

	#header-banner{
		height: auto;
		margin-bottom: 10px;

		.logo{
			color: #FFFFFF;
			font-size: 50px;
			font-family: $roboto;
		}
	}

	nav{

		border-top: 0px !important;
	    border-bottom: 0px solid transparent !important;
	    border-radius: 0px !important;
	    margin-bottom: 0px !important;
	    background: transparent !important;
	    max-height: 50px !important;
	    
	    color: #FFFFFF;

		&.affix{
			position: fixed;
			top: 0px;
			width: 100%;
			z-index: 999;

			& #nav-container{
				top: 0px;
			}
		}

		#nav-container{
			padding-top: 10px;
			background-color: $clr-blue-grey-800;
			border-bottom: 10px solid $clr-blue-grey-400;
			transition: border-color 0.3s;
			position: relative;
			top: -10px;

			&.aves{
				border-bottom-color: $clr-deep-orange;
			}
			&.bolos{
				border-bottom-color: $clr-brown;
			}
			&.carnes{
				border-bottom-color: $clr-red;
			}
			&.frutos{
				border-bottom-color: $clr-blue;
			}
			&.massas{
				border-bottom-color: $clr-teal;
			}
			&.doces{
				border-bottom-color: $clr-purple;
			}


			ul{
				li{
					border-radius: 10px 10px 0px 0px;
					margin-right: 2px;
					margin-left: 2px;
					position: relative;
					background-color: $clr-blue-grey-400;
					
					a{
						position: relative;
						color: #FFFFFF;
						font-size: 2rem;
						font-weight: 700;

						&:hover, &:focus{
							color: #FFFFFF !important;
							background-color: transparent !important;
						}
					}/* a */


					&.aves{
						background-color: $clr-deep-orange;

						&:hover{
							
						}
					}
					&.bolos{
						background-color: $clr-brown;

						&:hover{
							
						}
					}
					&.carnes{
						background-color: $clr-red;

						&:hover{
							
						}
					}
					&.frutos{
						background-color: $clr-blue;

						&:hover{
							
						}
					}
					&.massas{
						background-color: $clr-teal;

						&:hover{

						}
					}
					&.doces{
						background-color: $clr-purple;

						&:hover{
							
						}
					}
				}/* li*/
			}/* ul */


			.form-group{
				.form-control{
					border: 1px solid rgb(97, 165, 146);
	    			border-radius: 0px;
				}
			}

		}/* nav-container*/
	}/* nav */
}/* header */

/* -=-=-=-= Index =-=-=-=-=- */
section{
	background-color: $clr-light-green-100;
	padding-top: 10px;

	.container{
		background-color: #FFFFFF;
		box-shadow: 0px 0px 15px #555;

		h2{
			font-family: $roboto;
			font-size: 40px;
			text-align: center;
			padding: 20px 5px 5px 5px;
			border-bottom: 4px dashed $clr-blue-grey-100;
    		color: $clr-blue-grey-800;
		}

		.blue-grey-border{
			border-right: 4px dashed $clr-blue-grey;
		}
	}
}


/* -=-=-=-= Detalhes =-=-=-=- */
#detalhes-sec1{

	.container{

		.carousel{
			width: 300px;
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			border-radius: 10px;
			background-color: $clr-grey-100;
			display: inline-block;
			
			.owl-carousel{
				width: 300px;

				.foto{
					width: 300px;
					height: 225px;
					background-position: center;
					background-size: cover;
					border-radius: 10px 10px 0px 0px;
				}

				.owl-controls{

					.owl-dots{
						border-top: 5px solid $clr-blue-grey-400;
						padding-top: 5px;

						.owl-dot{
							>span{
								width: 20px;
								height: 20px;
								background-color: $clr-blue-grey-300;
							}

							&.active{
								>span{
									background-color: $clr-blue-grey-800;
								}
							}
						}
					}
				}
			}
		}/* .carousel */

		.dados-receita{
			width: calc(100% - 310px);
			height: 270px;
			float: right;

			.descricao{
				height: 270px;

				.rendimento{
					width: 50%;
					display: inline-block;
					height: 100px;
					text-align: center;
					font-size: 2.5rem;
					font-family: $roboto;
					font-weight: 500;

					p{
						margin-bottom: 0px;
						&.titulo{
							font-size: 1.7rem;
						}
					}
				}
				.tempo{
					width: 49%;
    				display: inline-block;
    				height: 100px;
					text-align: center;
					font-size: 2.5rem;
					font-family: $roboto;
					font-weight: 500;

					p{
						margin-bottom: 0px;

						&.titulo{
							font-size: 1.7rem;
						}
					}
				}
			}
		}

		#form-coment{
			text-align: right;
			margin: 15px 0px;

			>textarea{
				width: 100%;
				background-color: $clr-blue-grey-50;
			}
			
			>.btn{
				margin: 5px;
			}
		}

		.comentario{
			padding: 10px;
			height: 120px;
			border-top: 2px dashed $clr-grey-400;

			.user{
				height: 100px;
				width: 300px;
				float: left;

				.avatar{
					width: 70px;
					display: inline-block;

					img{
						height: 70px;						
					}
				}
				.dados{
					width: 220px;
					display: inline-block;

					.nome{

					}
					.hora{

					}
				}

			}/* .user */
			.text{
				width: Calc(100% - 300px);
				float: right;
				display: inline-block;

			}

		}
	}
}

/* -=-=-=-= Cards =-=-=-=- */
.card-receita{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
	background-color: #EEEEEE;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	margin: 25px 5px 0px 5px;

	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	a:hover, a:focus{
 		text-decoration: none;
 	}

	.card-tab{
		height: 30px;
		background-color: $clr-blue-grey-400;
		background-image: url('../../images/pattern.png');
		background-size: cover;
		text-align: center;
    	padding: 2px;

    	p{
    		font-size: 1.8rem;
    		font-weight: 600;
    		color: #FFFFFF;
    	}
	}

	&.card-aves{
		background-color: $clr-deep-orange-50;

		.card-tab{
			background-color: $clr-deep-orange;
		}
		.card-img{
			border-color: $clr-deep-orange;
		}
		.card-descricao{
			color: $clr-deep-orange-800;
			.titulo{
				border-color: $clr-deep-orange-100;
			}
			.descricao{
				.rendimento{
					border-color: $clr-deep-orange-100;
				}
			}
		}
	}
	&.card-bolos{
		background-color: $clr-brown-50;

		.card-tab{
			background-color: $clr-brown;
		}
		.card-img{
			border-color: $clr-brown;
		}
		.card-descricao{
			color: $clr-brown-800;
			.titulo{
				border-color: $clr-brown-100;
			}
			.descricao{
				.rendimento{
					border-color: $clr-brown-100;
				}
			}
		}
	}
	&.card-carnes{
		background-color: $clr-red-50;

		.card-tab{
			background-color: $clr-red;
		}
		.card-img{
			border-color: $clr-red;
		}
		.card-descricao{
			color: $clr-red-800;
			.titulo{
				border-color: $clr-red-100;
			}
			.descricao{
				.rendimento{
					border-color: $clr-red-100;
				}
			}
		}
	}
	&.card-frutos{
		background-color: $clr-blue-50;

		.card-tab{
			background-color: $clr-blue;
		}
		.card-img{
			border-color: $clr-blue;
		}
		.card-descricao{
			color: $clr-blue-800;
			.titulo{
				border-color: $clr-blue-100;
			}
			.descricao{
				.rendimento{
					border-color: $clr-blue-100;
				}
			}
		}
	}
	&.card-massas{
		background-color: $clr-teal-50;

		.card-tab{
			background-color: $clr-teal;
		}
		.card-img{
			border-color: $clr-teal;
		}
		.card-descricao{
			color: $clr-teal-800;
			.titulo{
				border-color: $clr-teal-100;
			}
			.descricao{
				.rendimento{
					border-color: $clr-teal-100;
				}
			}
		}
	}
	&.card-doces{
		background-color: $clr-purple-50;

		.card-tab{
			background-color: $clr-purple;
		}
		.card-img{
			border-color: $clr-purple;
		}
		.card-descricao{
			color: $clr-purple-800;

			.titulo{
				border-color: $clr-purple-100;
			}
			.descricao{
				.rendimento{
					border-color: $clr-purple-100;
				}
			}
		}
	}

}

.card-grande{
	width: 100%;
	height: 410px;

	.card-img{
		background-size: cover;
		background-position: center;
		border-bottom: $clr-blue-grey-400 5px solid;
		height: 200px;

		>span{
			word-wrap: break-word;
			height: 30px;
			background-color: red;

		}
	}

	.card-descricao{
		height: 180px;

		.titulo{
			font-size: 2.5rem;
			font-weight: 500;
			text-align: center;
			padding: 10px;
			height: 85px;
			border-bottom: 1px dashed $clr-blue-grey-100;
		}
		.descricao{
			width: 100%;
			height: 95px;
			display: inline-table;
			padding: 10px 5px 5px 5px;
			font-size: 2.5rem;
			font-family: $roboto;
			font-weight: 500;

			.rendimento{
				width: 50%;
				height: 100%;
				display: inline-block;
				text-align: center;
				border-right: 1px dashed $clr-blue-grey-100;


			}
			.tempo{
				width: 50%;
				display: inline-block;
				text-align: center;
				
			}
		}
	}
}

.card-pequeno{
	height: 200px;
	margin-bottom: 10px;

	.card-img{
		width: 50%;
		height: 170px;
		float: left;
		background-size: cover;
		background-position: center;
		border-right: 3px solid $clr-blue-grey-400;
	}

	.card-descricao{
		height: 170px;
		width: 50%;
		float: right;

		.titulo{
			font-size: 1.8rem;
			font-weight: 500;
			text-align: center;
			padding: 5px;
			height: 85px;
			border-bottom: 1px dashed $clr-blue-grey-100;
		}

		.descricao{
			width: 100%;
			padding: 10px 5px 5px 5px;
			display: inline-table;
			height: 85px;
			font-size: 1.6rem;
			font-family: $roboto;
			font-weight: 500;

			.rendimento{
				width: 50%;
				height: 100%;
				display: inline-block;
				text-align: center;
				border-right: 1px dashed $clr-blue-grey-100;

				i{
					font-size: 2.5rem;
				}
			}
			.tempo{
				width: 50%;
				display: inline-block;
				text-align: center;

				i{
					font-size: 2.5rem;
				}
			}
		}
	}

}



footer{
	box-shadow: 0px 0px 15px #555;
	background-color: $clr-blue-grey-500;
	color: #FFFFFF;
	height: 300px;

	.container{
		height: 250px;

		ul{
			list-style: none;
			li{
				a{
					color: #FFFFFF;
					font-weight: 500;
    				font-size: 1.7rem;
				}
			}
		}
	}
	.container-fluid{
		height: 50px;
		padding-top: 10px;
		text-align: center;
		background-color: $clr-blue-grey-400;
		box-shadow: 0px 0px 15px #555;

		p{
			font-size: 1.7rem;
		}
	}
}